Import Libraries

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Load Dataset
df = pd.read_csv("pandas/datasets/titanic.csv")  # change path if needed

df.head()

### Basic Information About Data

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
Check Missing Values
df.isnull().sum()

\We usually see missing values in:

Age

Cabin

Embarked

Now we decide whether to fill or remove them.

### Handling Missing Data

In [ ]:
median_age = df["Age"].median() # find the median from the data ,Median is better than mean because age may have outliers.

In [ ]:
df.loc[df["Age"].isnull(), "Age"] = median_age

In [ ]:
df["Age"].isnull().sum()
test missing value filled or not

Handle Cabin Column

Cabin often has too many missing values â†’ many projects drop it.

In [ ]:
df = df.drop(columns=["Cabin"])

Fill Missing Embarked with Mode

In [ ]:
mode_embarked = df["Embarked"].mode()[0]
# most repeated value of embarked

In [ ]:
df.loc[df["Embarked"].isnull(), "Embarked"] = mode_embarked

In [ ]:
# df.isnull().sum()
check null again

Handling Noisy Data / Outliers
ðŸ§  Markdown Explanation

Sometimes values are unrealistic.

Example:

Very large Fare

Very high or very low Age

We can cap them or replace them.

In [ ]:
Q1 = df["Age"].quantile(0.25)
Q3 = df["Age"].quantile(0.75)

IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

print("Lower limit:", lower)
print("Upper limit:", upper)

outliers = df.loc[(df["Age"] < lower) | (df["Age"] > upper)]
outliers

In [ ]:
# Detect Outliers (Example using simple condition)
df.loc[df["Age"] > 80]

In [ ]:
#Replace Extreme Age using loc

#Letâ€™s assume max reasonable age = 80.
median_age = df["Age"].median()

df.loc[df["Age"] > 80, "Age"] = median_age

In [ ]:

df.loc[df["Age"] > 80, "Age"] = median_age

In [ ]:
# Handle Fare Outliers

In [ ]:
median_fare = df["Fare"].median()

df.loc[df["Fare"] > 300, "Fare"] = median_fare

### Remove Duplicate Rows

In [ ]:
df.duplicated().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
Save Clean Dataset
df.to_csv("titanic_cleaned.csv", index=False)

In [ ]:
What You Did

handled missing values

âœ” used median/mode imputation

âœ” removed irrelevant column

âœ” treated noisy values

âœ” removed duplicates

âœ” saved cleaned dataset

Data cleaning was performed to improve dataset quality. Missing values in Age and Embarked were imputed using median and mode respectively. Cabin column was removed due to excessive null values. Outliers in Age and Fare were treated using conditional replacement. Duplicate entries were eliminated to prevent bias. The dataset is now ready for feature engineering and model training.