In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
'Department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'Finance', 'IT'],
'Employee': ['A', 'B', 'C', 'D', 'E', 'F', 'G'],
'Salary': [50000, 40000, 55000, 60000, 42000, 65000, 58000],
'Experience': [2, 1, 3, 5, 2, 6, 4]
}


df = pd.DataFrame(data)
df

3. What is GroupBy?

groupby() is used to split data into groups, apply a function, and combine results.

Split → Apply → Combine

Basic GroupBy (Single Column)
Group by Department

In [ ]:
df.groupby('Department')

In [ ]:
df.groupby('Department')['Salary'].mean()
#Calculate Mean Salary per Department

In [ ]:
# Multiple Aggregations
df.groupby('Department')['Salary'].agg(['mean', 'max', 'min', 'sum'])

In [ ]:
# GroupBy with Multiple Columns 
df.groupby(['Department', 'Experience'])['Salary'].mean()

In [ ]:
df.groupby('Department')['Employee'].count()
#Using GroupBy with Count

In [ ]:
def salary_range(x):
 return x.max() - x.min()


df.groupby('Department')['Salary'].apply(salary_range)

In [ ]:
# titanic datasets

In [ ]:
import pandas as pd

df = pd.read_csv("datasets/Titanic-Dataset.csv")
df.head()

In [ ]:
#Average Fare per Passenger Class
df.groupby('Pclass')['Fare'].mean()

In [ ]:
df.groupby('Sex')['Survived'].mean()
#Survival Rate by Gender

In [ ]:
# Multiple Aggregations
df.groupby('Pclass')['Fare'].agg(['mean', 'max', 'min', 'count'])

In [ ]:
#GroupBy Multiple Columns
df.groupby(['Pclass', 'Sex'])['Survived'].mean()

In [ ]:
# Average age of survivors vs non-survivors
df.groupby('Survived')['Age'].mean()

In [ ]:
# Count of male and female passengers per class
df.groupby(['Pclass', 'Sex']).size()

In [ ]:
df["average age "]=df.groupby("Sex")["Age"].mean()

In [ ]:
df

In [ ]:


# Which embark town has highest survival rate?

df.groupby("Embarked")["Age"].mean()

Now your task is to make a 25 question from chatgpt and practcie your self furst write the question and then answer

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['A', 'B', 'C']
})
df1

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame({
    'id': [1, 2, 4],
    'score': [85, 90, 88]
})

In [ ]:
df2

In [ ]:
result = pd.merge(df1, df2, on='id')
print(result)

In [ ]:
pd.merge(df1, df2, on='id', how='inner')
#Keeps common rows only

In [32]:
# Test with new data
import pandas as pd

students = pd.DataFrame({
    'student_id': [101, 102, 103, 104],
    'student_name': ['Ram', 'Sita', 'Hari', 'Gita'],
    'department': ['CS', 'IT', 'CS', 'BCA']
})

print(students)

   student_id student_name department
0         101          Ram         CS
1         102         Sita         IT
2         103         Hari         CS
3         104         Gita        BCA

In [33]:
marks = pd.DataFrame({
    'student_id': [101, 102, 105],
    'marks': [88, 92, 75]
})

print(marks)

   student_id  marks
0         101     88
1         102     92
2         105     75

In [34]:
inner_join = pd.merge(students, marks, on='student_id', how='inner')
print(inner_join)
# Common records only

   student_id student_name department  marks
0         101          Ram         CS     88
1         102         Sita         IT     92The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [35]:
left_join = pd.merge(students, marks, on='student_id', how='left')
print(left_join)

   student_id student_name department  marks
0         101          Ram         CS   88.0
1         102         Sita         IT   92.0
2         103         Hari         CS    NaN
3         104         Gita        BCA    NaN

In [36]:
right_join = pd.merge(students, marks, on='student_id', how='right')
print(right_join)

   student_id student_name department  marks
0         101          Ram         CS     88
1         102         Sita         IT     92
2         105          NaN        NaN     75

In [37]:
outer_join = pd.merge(students, marks, on='student_id', how='outer')
print(outer_join)
# Outer Join (Everything from both tables)

   student_id student_name department  marks
0         101          Ram         CS   88.0
1         102         Sita         IT   92.0
2         103         Hari         CS    NaN
3         104         Gita        BCA    NaN
4         105          NaN        NaN   75.0

Easy Memory Trick

Inner → common only

Left → everything from first table

Right → everything from second table

Outer → everything from both