# Pandas `loc` vs `iloc`
## Detailed Comparison with Examples

In [1]:
import pandas as pd

In [2]:
data = {
    "ID": [101, 102, 103, 104],
    "Name": ["Ram", "Sita", "Hari", "Gita"],
    "Marks": [85, 90, 78, 92]
}

df = pd.DataFrame(data)
df

    ID  Name  Marks
0  101   Ram     85
1  102  Sita     90
2  103  Hari     78
3  104  Gita     92

## `loc` ‚Äì Label-based Indexing

- `loc` is used to access data using **labels**
- Labels can be:
  - Index names
  - Column names
- **Both start and end values are included**

In [8]:
df.loc[1,"Name"]

'Sita'

In [9]:
df.set_index("ID", inplace=True)
df

     Name  Marks
ID
101   Ram     85
102  Sita     90
103  Hari     78
104  Gita     92

In [13]:
df.iloc[2,1]

np.int64(78)

In [ ]:
df.iloc[1,:0]

In [ ]:
df.loc["Ram"] # access single rows

In [ ]:
df.loc[[101, 103]] # access multiple rows

In [ ]:
df.loc[101] #Access Specific Columns

In [ ]:
df

In [ ]:
df.loc[101:103, ["Name", "Marks"]]

## `iloc` ‚Äì Integer Position-based Indexing

- `iloc` uses **integer positions**
- Index starts from **0**
- **End value is excluded**
- Similar to Python list slicing

In [ ]:
df.set_index("Marks")

In [ ]:
df

In [ ]:
df

In [ ]:
df.iloc[[0, 2]] #multiple rows

In [ ]:
df.iloc[1, 0] #Access Specific Row & Column

In [ ]:
df.iloc[0:3, 0:2] #Access Range of Rows & Columns

## Comparison Table

| Feature | loc | iloc |
|------|-----|------|
| Type | Label-based | Integer position-based |
| Uses | Index & column names | Row & column numbers |
| Range | End included | End excluded |
| Similar to | Dictionary | Python list |
| Example | df.loc[101] | df.iloc[0] |

### Common Mistakes

‚ùå Using labels in `iloc`
```python
df.iloc[101]   # Error

df.loc[0]   # KeyError


---

## üìå 10. When to Use What? (Markdown Cell)

```markdown
### When to Use `loc`
- When index has meaningful labels (ID, Name, Date)
- When readability is important

### When to Use `iloc`
- When working with positions
- When index values are unknown
- For fast slicing like arrays