### Pandas Series

A Series is a one-dimensional labeled array.

Think of it like:

A single column of a table

Or a vector with labels (index)

In [3]:
import pandas as pd

In [4]:
s = pd.Series([10, 20, 30, 40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
#series with custom index
marks = pd.Series([85, 90, 88], index=["Ananda", "Sita", "Ram"])
marks

Ananda    85
Sita      90
Ram       88
dtype: int64

In [7]:
marks[0]

C:\Users\anand\AppData\Local\Temp\ipykernel_210864\1318454221.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  marks[0]

np.int64(85)

# Pandas DataFrame (2-D data)
What is a DataFrame?

A DataFrame is a table (rows + columns), like Excel or SQL table

In [8]:
df = pd.DataFrame({
    "Name": ["Ananda", "Sita", "Ram"],
    "Age": [22, 21, 23],
    "Score": [85, 90, 88]
})

df

     Name  Age  Score
0  Ananda   22     85
1    Sita   21     90
2     Ram   23     88

### Select Columns (very important)
#### Single column → Series
### Multiple columns → DataFrame

In [ ]:
df["Age"]

In [ ]:
df[["Name", "Score"]]

In [9]:
### Now use all the general method for this dataframe like and find first 2 data last two data info and shape

In [ ]:
# use a chatgpt and create a 1000 data using dictionary

In [ ]:
# save the generated data into local system
df.to_csv('my_generated_data.csv', index=False)  # index=False avoids adding row numbers

In [ ]:
# apply all the analysis like info shape ,describe and others things in your data and find the first 10 and last 10 data

In [ ]:
# your task generate the another data using the list